[Desktop Entry]
Version=1.0
Name=Bitcoin Core
Comment=Connect to the Omnix P2P Network
Exec=omnix-qt %u
Terminal=false
Type=Application
Icon=omnix128
MimeType=x-scheme-handler/omnix;
Categories=Office;Finance;
StartupWMClass=Omnix-qt
Name[en_US]=omnix-qt
